body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

canvas {
  width: 50%;
  height: 100%;
}

#euclidean_space {
  border-right: 1px solid #333;
}